{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block nav_li %}
<li class="nav-item">
    <a href="{% url 'admin' %}" class="nav-link active" aria-current="page">
        Home
    </a>
</li>
<li>
    <a href="{% url 'orders' %}" class="nav-link text-white">
        Orders
    </a>
</li>
<li>
    <a href="{% url 'places' %}" class="nav-link text-white">
        Places
    </a>
</li>
<li>
    <a href="{% url 'messages' %}" class="nav-link text-white">
        Messages
    </a>
</li>
{% endblock %}

{% block content %}
    <div class="container px-4 py-4">
        <div class="row">
            <h1>Welcome {{ username }}</h1>
            <p>Access level: {{ access_level }}</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Orders:</h5>
                        <i class="text-primary-emphasis">{{ num_orders }}</i>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Places:</h5>
                        <i class="text-primary-emphasis">{{ num_places }}</i>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Messages:</h5>
                        <i class="text-primary-emphasis">{{ num_messages }}</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                
            </div>
            <div class="col">
                <div class="d-flex flex-column">
                    <a class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                      <span class="fs-5 fw-semibold">Recent Messages</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">
                      {% for message in messages %}
                      <a href="{% url 'messageInfo' message.id %}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                          <strong class="mb-1">{{ message.name }}</strong>
                          <small>{{ message.date }}</small>
                        </div>
                        <div class="col-10 mb-1 small">{{ message.message }}</div>
                      </a>
                      {% endfor %}
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}
