{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block nav_li %}
<li class="nav-item">
    <a href="{% url 'admin' %}" class="nav-link text-white">
        Home
    </a>
</li>
<li>
    <a href="{% url 'orders' %}" class="nav-link text-white">
        Orders
    </a>
</li>
<li>
    <a href="{% url 'places' %}" class="nav-link text-white">
        Places
    </a>
</li>
<li>
    <a href="{% url 'messages' %}" class="nav-link active" aria-current="page">
        Messages
    </a>
</li>
{% endblock %}

{% block content %}
    <div class="container px-4 py-4">
        <div class="row">
            <h2>Messages</h2>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Titel of message</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
                        <p class="card-text">message</p>
                        <a href="" class="btn btn-outline-info">More</a>
                        <a href="" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}