{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block nav_li %}
<li class="nav-item">
    <a href="{% url 'admin' %}" class="nav-link text-white">
        Home
    </a>
</li>
<li>
    <a href="{% url 'orders' %}" class="nav-link active" aria-current="page">
        Orders
    </a>
</li>
<li>
    <a href="{% url 'places' %}" class="nav-link text-white">
        Places
    </a>
</li>
<li>
    <a href="{% url 'messages' %}" class="nav-link text-white">
        Messages
    </a>
</li>
{% endblock %}

{% block content %} 
    <div class="container px-4 py-4">
        <div class="row">
            <h2>Orders of Events</h2>
            <div class="col">
                <form method="get" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for order in orders %}
                    <p>{{ order.id }}</hp>
                    <p>{{ order.date }}</p>
                {% empty %}
                <p>No se encontraron resultados.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}