{% extends "base.html" %}

{% block title %}Places{% endblock %}

{% block nav_li %}
<li class="nav-item">
    <a href="{% url 'admin' %}" class="nav-link text-white">
        Home
    </a>
</li>
<li>
    <a href="{% url 'orders' %}" class="nav-link text-white">
        Orders
    </a>
</li>
<li>
    <a href="{% url 'places' %}" class="nav-link active" aria-current="page">
        Places
    </a>
</li>
<li>
    <a href="{% url 'messages' %}" class="nav-link text-white">
        Messages
    </a>
</li>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %} 
    <div class="container px-4 py-4">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <h2>Places Management</h2>
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
                <h2>Places List</h2>
                <div class="table-responsive py-2">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Ubication</th>
                                <th>Owner</th>
                                <th colspan="3">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lugar in lugares %}
                            <tr>
                                <td>{{ lugar.id }}</td>
                                <td>{{ lugar.name }}</td>
                                <td>{{ lugar.location }}</td>
                                <td>{{ lugar.owner }}</td>
                                <td><a href="{% url 'placeInfo' lugar.id %}" class="btn btn-info">More</a></td>
                                <td><a href="{% url 'placeEdit' lugar.id %}" class="btn btn-warning">Edit</a></td>
                                <td><a href="{% url 'placeDelete' lugar.id %}" class="btn btn-danger">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}